opencv-python>=4.8.0
ultralytics>=8.0.0
numpy>=1.24.0
pygame>=2.5.0
sounddevice>=0.4.6
librosa>=0.10.0
scikit-learn>=1.3.0
pillow>=10.0.0
joblib>=1.3.0
Flask>=3.0.0
gpiozero>=2.0
tflite-runtime>=2.14.0 ; sys_platform == 'linux'
tensorflow>=2.14.0 ; sys_platform != 'linux'
